body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.form{
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    padding: 40px;
}

.form h1{
    color: white;
}

.form label{    
    color: white;
    font-weight: bold;
}

.form input{
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.form button{
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}